@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-theme-black: #000000;
    --color-theme-white: #ffffff;
  }

  body {
    @apply text-gray-800 leading-relaxed;
  }

  a {
    @apply text-current no-underline;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.primary-button {
  @apply px-4 py-2 rounded-md bg-black text-white disabled:bg-gray-300 disabled:cursor-not-allowed hover:bg-gray-800 transition-colors;
}

.paginator-button {
  @apply px-4 py-2 rounded-md disabled:bg-gray-300 disabled:cursor-not-allowed border-gray-200 rounded focus:outline-none;
}
